#admin-panel {
	width: 75%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px solid #3498db;
	box-shadow: 10px 10px 10px grey;
}

#admin-list-article {
	width: 75%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	border: 3px solid #3498db;
	box-shadow: 10px 10px 10px grey;
}

@media only screen and (max-width: 600px) {
	
	#admin-panel {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		border: 0px;
		box-shadow: 0px 0px 0px;
	}
	
	#admin-panel h2, p {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	#admin-list-article {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		border: 0px;
		box-shadow: 0px 0px 0px;
	}
	
	#admin-list-article h2, p {
		padding-left: 5px;
		padding-right: 5px;
	}
}