body {
	font-family: Arial;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

h1 {
	font-size: 60px;
	color: #3498db;
}

h2 {
	font-size: 40px;
	color: #3498db;
}

h3 {
	font-size: 30px;
	color: #3498db;
}

#main-title {
	background: #3498db;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#main-title h1 {
	color: white;
	text-shadow: 3px 3px 3px grey;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Styles for the responsive top menu*/
#main-menu {
	border-bottom: 1px solid #3498db;
}

.topnav {
	background-color: white;
	overflow: hidden;
	margin: 0px;
}

.topnav {
	list-style: none;
	display: inline-block;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #3498db;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #3498db;
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
	color: #3498db;
	font-size: 40px;
}

@media only screen and (max-width: 600px) {
	
	#main-title {
		text-align: center;
	}

	#main-title h1 {
		font-size: 35px;
	}
}

/* Media queries to control the response top menu*/
@media screen and (max-width: 600px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a:not(.icon) {
		float: none;
		display: block;
		text-align: left;
		border-bottom: 1px solid #3498db;
	}
}