body {
	font-family: Arial;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

h1 {
	font-size: 60px;
	color: #3498db;
}

h2 {
	font-size: 40px;
	color: #3498db;
}

h3 {
	font-size: 30px;
	color: #3498db;
}

#main-title {
	background: #3498db;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#main-title h1 {
	color: white;
	text-shadow: 3px 3px 3px grey;
	margin-top: 5px;
	margin-bottom: 5px;
}

#main-menu {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0px;
	font-size: 25px;
	border: 1px solid #3498db
}

#main-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#main-menu li {
	display: inline-block;
	margin-right: 40px;
}

#main-menu li a:link {
	text-decoration: none;
	color: #3498db
}

#main-menu li a:hover {
	text-decoration: underline;
	color: #3498db
}

#main-menu li a:active {
	text-decoration: none;
	color: #3498db
}

#main-menu li a:visited {
	text-decoration: none;
	color: #3498db
}

#main-menu button {
  display: none;
  background-color: white;
  color: #3498db;
  border: none;
  padding: 10px 15px;
  font-size: 50px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

#main-menu ul {
	flex-direction: column;
	display: none;
}

@media only screen and (max-width: 600px) {
	
	#main-title {
		text-align: center;
	}

	#main-title h1 {
		font-size: 35px;
	}
	
	#main-menu button {
		display: block;
	}

	#main-menu ul.show {
		display: flex;
	}

	#main-menu ul {
		display: none;
		flex-direction: column;
	}
}