<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text=${title}></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	
	<script type="text/javascript">
	  document.getElementById('menu-toggle').addEventListener('click', function () {
	    const menu = document.querySelector('#main-menu ul');
	    menu.classList.toggle('show');
	  });
	</script>
</head>
<body>
<header id="main-title">
	<h1 th:text=${title}></h1>
</header>
<nav id="main-menu">
	<button id="menu-toggle">☰</button>
	<ul>
		<li><a href="#">Art&iacute;culos</a></li>
		<li><a href="#">Temas</a></li>
		<li><a href="#">Noticias</a></li>
		<li><a href="#">Acerca de</a></li>
	</ul>
</nav>
<section>
	<header>
		<h2>&Uacute;ltimos art&iacute;culos:</h2>
	</header>
	<article>
		<h3>Art&iacute;culo n&uacute;mero uno</h3>
		<p>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		<br><br>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		</p>
	</article>
		<article>
		<h3>Art&iacute;culo n&uacute;mero dos</h3>
		<p>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		<br><br>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		</p>
	</article>
		<article>
		<h3>Art&iacute;culo n&uacute;mero tres</h3>
		<p>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		<br><br>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		</p>
	</article>
		<article>
		<h3>Art&iacute;culo n&uacute;mero cuatro</h3>
		<p>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		<br><br>
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.
		Este es un texto de ejemplo. Este es un texto de ejemplo. Este es un texto de ejemplo.<br>
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.Este es un texto de ejemplo.
		</p>
	</article>
</section>
</body>
</html>