<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${title}"></title>

	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

	<meta charset="UTF-8">
	<meta name="description" content="Bienvenido a programandoconjava.com. Un Blog en el que podr&aacute;s aprender todos los secretos necesarios para poder dominar el lenguaje de programaci&oacute;n Java.">
	<meta name="keywords" content="programar, programando, java, programandoconjava, programacion, programaci&oacute;n, blog">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/cookies-policy-styles.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script th:src="@{/js/cookies-policy.js}"></script>
	<script type="text/javascript">
		/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
		function toggleMenu() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
			
		    const main_menu = document.querySelector("#main-menu");
		    const borderBottom = window.getComputedStyle(main_menu).getPropertyValue("border-bottom-width");

		    if (borderBottom !== "0px") {
		    	main_menu.style.borderBottom = "0px"; // Remove the border
		    } else {
		    	main_menu.style.borderBottom = "1px solid #3498db";
		    }
			
		}
	</script>
</head>
<body>
<header id="main-title">
	<a href="/"><h1 th:text="${title}"></h1></a>
</header>
<nav id="main-menu">
	<div th:replace="~{fragments/menu :: menu}"></div>
</nav>

<aside class="news-ticker">
	<section class="ticker-content">
	  <span class="last-news-header-item">&Uacute;ltimas Noticias: </span>
	  <span th:each="news, iterStat : ${externalNews}" class="news-item">
		<a th:href="${news.link}" th:text="${news.title}"></a>
		<span class="news-separator" th:if="${!iterStat.last}">—</span>
	  </span>
	</section>
</aside>

<main class="content-wrapper">
	<section class="main-section">

		<article class="main-article-index">
			<h2>Introducci&oacute;n</h2>
			<hr>
			<p>
			¡Bienvenido a tu punto de encuentro con Java y el mundo de la programaci&oacute;n!
			</p>
			<p>
			En esta p&aacute;gina encontrar&aacute;s un espacio dedicado a los entusiastas y profesionales 
			de Java, donde combinamos informaci&oacute;n, aprendizaje y diversi&oacute;n. Nuestro contenido 
			se organiza en tres secciones principales diseñadas para inspirar, educar y entretener:
			</p>
			<p class="tab">
			<b>Artículos:</b> Explora contenido original creado por nosotros, donde abordamos temas esenciales y 
			avanzados de Java y tecnolog&iacute;as relacionadas, como Docker, Kubernetes y Bases de datos. Aprende 
			nuevas t&eacute;cnicas, resuelve desaf&iacute;os comunes y profundiza en herramientas clave para el 
			desarrollo moderno.
			<br><br>
			<b>Temas:</b> Navega por series de art&iacute;culos relacionados entre s&iacute;, organizados para 
			que puedas profundizar en conceptos complejos de manera estructurada.
			<br><br>
			<b>Noticias:</b> Mantente al d&iacute;a con las &uacute;ltimas novedades del ecosistema Java. 
			Aqu&iacute; encontrar&aacute;s enlaces a noticias oficiales, actualizaciones de versiones, tendencias 
			y anuncios relevantes para desarrolladores.
			</p>
			<p>
			Nuestra misi&oacute;n es ofrecerte un lugar donde puedas informarte, aprender y, sobre todo, sentirte parte 
			de una comunidad apasionada por el desarrollo en Java.
			</p>
		</article>
	</section>

	<aside id="tags-aside">
		<section>
			<h2 id="tags-h2">Tags:</h2>
			<hr>
			<span class="tags-span" th:each="tag : ${tags}" th:style="'font-size: ' + ${tag.fontSize} + 'px;'">
				<a class="basic-link" th:href="@{'/articles/tag/' + ${tag.tag}}" th:text="${tag.tag}"></a>
			</span>
		</section>
	</aside>
	
	
</main>

<section th:replace="~{fragments/cookies-banner :: cookies-banner}"></section>

<footer>
	<div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>