<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title} + ' - Descarga Plantillas Web'"></title>

	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

	<meta charset="UTF-8">
	<meta name="description" content="Descarga plantillas web con las cuales podrás empezar a crear tu propia página web para tu negocio o proyecto personal.">
	<meta name="keywords" content="descarga, download, plantilla, web, site, template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/cookies-policy-styles.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script th:src="@{/js/cookies-policy.js}"></script>
	<script th:src="@{/js/products-previews.js}"></script>
	<script th:src="@{/js/products-download.js}"></script>
	<script type="text/javascript">
		/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
		function toggleMenu() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
			
		    const main_menu = document.querySelector("#main-menu");
		    const borderBottom = window.getComputedStyle(main_menu).getPropertyValue("border-bottom-width");

		    if (borderBottom !== "0px") {
		    	main_menu.style.borderBottom = "0px"; // Remove the border
		    } else {
		    	main_menu.style.borderBottom = "1px solid #3498db";
		    }
			
		}
	</script>
</head>
<body>
<header id="main-title">
	<a href="/"><h1 th:text="${title}"></h1></a>
</header>
<nav id="main-menu">
	<div th:replace="~{fragments/menu :: menu}"></div>
</nav>
<section class="main-section">
	<article class="main-article">
		<h2>Descarga Plantillas Web</h2>
		<hr>
		<ul class="products-templates-list">
			<li th:each="webTemplate : ${webTemplates}">
				<h3 th:text="${webTemplate.name}"></h3>
				<img th:src="@{'/img/products/' + ${webTemplate.imagePreview}}"/>
				<p class="product-description" th:utext="${webTemplate.description}"></p>
				<p class="product-price" th:text="${webTemplate.price} + '&euro;'"></p>
				<div class="products-buttons-container">
					<button class="custom-modern-button" th:data-video-src="'/video/' + ${webTemplate.videoPreview}">Preview</button>
					<button class="custom-modern-button" id="download-template" th:product-id="${webTemplate.id}">Download</button>
				</div>
			</li>
		</ul>
		<div id="video-modal" class="modal">
			<div class="modal-content">
				<span class="close-button">&times;</span>
				<video id="modal-video" controls>
				<source id="modal-video-source" src="" type="video/mp4">
				Tu navegador no soporta la etiqueta de video.
				</video>
			</div>
		</div>
	</article>
</section>

<section th:replace="~{fragments/cookies-banner :: cookies-banner}"></section>

<footer>
	<div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>
