<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title} + ' - Descarga'"></title>

	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

	<meta charset="UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/cookies-policy-styles.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script th:src="@{/js/cookies-policy.js}"></script>
	<script type="text/javascript">
		/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
		function toggleMenu() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
			
		    const main_menu = document.querySelector("#main-menu");
		    const borderBottom = window.getComputedStyle(main_menu).getPropertyValue("border-bottom-width");

		    if (borderBottom !== "0px") {
		    	main_menu.style.borderBottom = "0px"; // Remove the border
		    } else {
		    	main_menu.style.borderBottom = "1px solid #3498db";
		    }
			
		}
	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		window.onload = function () {
			var product_id = /*[[${product_id}]]*/ '';
			window.location.href = '/products/download/file/' + product_id;
		};
		/*]]>*/
	</script>
</head>
<body>
<header id="main-title">
	<a href="/"><h1 th:text="${title}"></h1></a>
</header>
<nav id="main-menu">
	<div th:replace="~{fragments/menu :: menu}"></div>
</nav>
<section class="main-section">
	<article class="main-article">
		<h2 th:text="'Descarga - ' + ${product.name}"></h2>
		<hr>
		<p>
			La descarga comenzar&aacute; en unos momentos. Si la descarga no comienza automaticamente, descargue directamente 
			con el siguiente enlace: <a class="custom-link" th:href="@{/products/download/file/{product_id}(product_id=${product_id})}">Descargar</a>
		</p>
	</article>
</section>

<section th:replace="~{fragments/cookies-banner :: cookies-banner}"></section>

<footer>
	<div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>
