<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title} + '- Temas'"></title>

	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script type="text/javascript">
		/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
		function toggleMenu() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
			
		    const main_menu = document.querySelector("#main-menu");
		    const borderBottom = window.getComputedStyle(main_menu).getPropertyValue("border-bottom-width");

		    if (borderBottom !== "0px") {
		    	main_menu.style.borderBottom = "0px"; // Remove the border
		    } else {
		    	main_menu.style.borderBottom = "1px solid #3498db";
		    }
			
		}
	</script>
</head>
<body>
<header id="main-title">
	<a href="/"><h1 th:text="${title}"></h1></a>
</header>
<nav id="main-menu">
	<div th:replace="~{fragments/menu :: menu}"></div>
</nav>
<section class="main-section">
	<article class="main-article list-contents">
		<h2>Temas</h2>
		<hr>
		<ul>
			<li th:each="topic : ${topics}"><a class="topic-link" th:href="'/topics/' + ${topic.id}">
				<h3 th:utext="${topic.title}"></h3>
				<p th:utext="'Art&iacute;culos publicados: ' + ${topic.numberOfArticles}"></p>
				<p th:utext="${topic.description}"></p>
			</a></li>
		</ul>
	</article>
</section>
<footer>
	<div th:replace="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>